@page "/blogs/edit/{blogId:int}"
@using BlazorAppSecure.Model
@using BlazorAppSecure.Sevices
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "admin")]
@inject IBlogService _blogService
@inject NavigationManager _navigation
<h3>@(blogId > 0 ? "Update" : "Create") Blog</h3>

@if(blog != null)
{
<EditForm Model="blog" OnValidSubmit="UpdateProduct">
    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="blog.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <InputText id="description" @bind-Value="blog.Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">@(blogId > 0 ? "Update" : "Create")</button>
</EditForm>
}
@code {
    private BlogViewModel blog;
    [Parameter]
    public int blogId { get; set; }

    protected override void OnParametersSet()
    {
        LoadBlog();
        base.OnParametersSet();
    }

    private async void LoadBlog()
    {

        if (blogId > 0)
        {
            blog = await _blogService.GetByIdAsync(blogId);
        }
        else
        {
            blog = new BlogViewModel();
        }
        StateHasChanged();
    }

    private async void UpdateProduct()
    {
        if (blogId > 0)
        {
            await _blogService.UpdateAsync(blogId, blog);
        }
        else
        {
            await _blogService.CreateAsync(blog);
        }
        _navigation.NavigateTo("/blog/blogs");
    }
}
